.light-medium-contrast {
  --md-sys-color-primary: rgb(85 64 0);
  --md-sys-color-surface-tint: rgb(118 90 11);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(143 112 35);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(78 65 38);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(130 115 84);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(46 73 46);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(95 124 93);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 242);
  --md-sys-color-on-background: rgb(31 27 19);
  --md-sys-color-surface: rgb(255 248 242);
  --md-sys-color-on-surface: rgb(31 27 19);
  --md-sys-color-surface-variant: rgb(236 225 207);
  --md-sys-color-on-surface-variant: rgb(73 66 53);
  --md-sys-color-outline: rgb(102 94 80);
  --md-sys-color-outline-variant: rgb(130 122 107);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(53 48 39);
  --md-sys-color-inverse-on-surface: rgb(249 239 226);
  --md-sys-color-inverse-primary: rgb(231 194 108);
  --md-sys-color-primary-fixed: rgb(143 112 35);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(115 88 8);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(130 115 84);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(104 90 61);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(95 124 93);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(71 99 69);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(226 217 204);
  --md-sys-color-surface-bright: rgb(255 248 242);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(252 242 229);
  --md-sys-color-surface-container: rgb(246 237 223);
  --md-sys-color-surface-container-high: rgb(240 231 217);
  --md-sys-color-surface-container-highest: rgb(235 225 212);
}
